/*font 
font-family: "Caudex", serif; 
font-family: "Lato", sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
/*colors*/
:root{
    --primaryColor: #030406;
    --hoverColor:#2C5F42;
    --whiteColor:#FFFFFF;
    --blackColor:#000000;
    --brownColor:#EDE9DE;
    
}
.news-sec{
    .sec-1{
        background-color: var(--brownColor);
        padding: 4rem 0;
        h1{
            
            display: flex;
            color:var(--blackColor);
            justify-content: center;
            align-items: center;
            font-size: 3rem;
            font-weight: 500;
            font-family: "Caudex", serif;
            font-style: normal;
        }
        p{
            padding-top: 50px;
            align-items: center;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 25%;
            margin-right: 25%;
            font-size: 1.5rem;
            font-weight: 300;
            font-family: "Lato", sans-serif;
        }
    }
    .sec-2{
        background-color: var(--);
        padding: 15rem;
        
        h1{
            
            display: flex;
            color:var(--hoverColor);
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            font-weight: 500;
            font-family: "Caudex", serif;
            font-style: normal;
        }
        p{
            padding-top: 50px;
            align-items: center;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-left: 25%;
            margin-right: 25%;
            font-size: 1.2rem;
            font-weight: 300;
            font-family: "Lato", sans-serif;
        }
    }
    @media (max-width:786px) {
        .sec-2{
            display:grid;
            grid-template-columns: 100%;
            width: 90%;
            padding-top: 20%;
            padding-left: 10%;
            padding-right: 0;
            padding-bottom: 20%;
            margin: 0;
            justify-content: center;
            .join-sec{
                display: grid;
                grid-template-columns: 100%;
                width: 90%;
                padding-bottom: 20%;
                padding-top: 1%;
            }
        }
    }   
}